@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nasalization';
    src: url('../../custom_font/nasalization-rg-webfont.woff') format('woff');   
}
body {
  background-color: #001129;
  font-family: Nasalization;
  color: white;
}
